body {
  background: url("https://static.wixstatic.com/media/2faf41_8346b7ad16414c23b12dfeba2a145f9a~mv2_d_6048_4032_s_4_2.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 18px;
}

#header-logo {
  justify-content: center;
  text-align: center;
  display: flex;
  object-fit: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  margin: 10px 10px 10px 0px;
  padding-left: 40px;
  font-family: 'Bebas Neue', cursive;
}

#header-slogan {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-top: -20px;
  margin-left: 280px;
  padding-bottom: 30px;
  padding-left: 50px;
  color: #2f5a61b0;
}

#landing-page {
  background: rgba(255, 255, 255, 0.39);
  align-items: center;
  color: #056676;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  padding: 10px;
}

#landing-button {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  border-color: #056676;
  color: #056676;
  border: 1px solid-#e8ded2;
  text-align: left;
  width: 30%;
  padding: 10px;
  margin: 10px 200px;
  display: block;
  text-align: center;
  outline: none;
  opacity: 75%;
}

#landing-button:hover {
  color: #ffffff;
  width: 30%;
  border: 2px solid  #056676;
  background:    #056776bd;
  box-shadow: 0 1px 0rgba(255, 124, 2, 0.205);
  transition-timing-function: ease-in;
  transition: .3s;
  text-align: center;
  outline: none;
}

#app-main {
  width: 800px;
  margin-left: 30 auto;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #056676;
  opacity: 86%;
}

#button-submit {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  border-color: #056676;
  color: #056676;
  border: 1px solid-#e8ded2;
  text-align: left;
  width: 50%;
  padding: 10px;
  margin: 30px 300px;
  display: block;
  text-align: center;
  outline: none;
  opacity: 75%;
}

#button-submit:hover {
  color: #ffffff;
  border: 2px solid  #0682e7;
  background:   #056776bd;
  box-shadow: 0 1px 0rgba(255, 124, 2, 0.205);
  transition-timing-function: ease-in;
  transition: .3s;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.landing-description {
  margin: auto;
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 100%
};

.landing-sec-description {
  margin-top: 100px;
  display: flex;
  width: 100%;
  padding-top: 400px;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.master-form {
  padding-top: 15px;
  margin: auto;
  width: 100%;
  margin: -3px;
}

.question {
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.question-formatter {
  font-size: 22px;
  font-weight: 540;
  padding-bottom: 15px;
}

.checkboxes {
  align-content: center;
}